.popup {
    position: fixed;
    bottom: 30px;
    left: 30px;
    font-family: 'Rubik', sans-serif;
}

.popup__header {
    left: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    min-width: 300px;
    border-radius: 10px;
    background-color: rgba(97, 214, 235, 0.911);
    z-index: 3;
    user-select: none;
}

.btn__exit {
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    background: none;
}

.popup__text {
    color: #000000;
    size: 26px;
    margin-left: 20px;
    font-weight: 500;
    position: center;
}